<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	pizzapaikka</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>
		servletit.Controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListBasketAction</display-name>
		<servlet-name>ListBasketAction</servlet-name>
		<servlet-class>servletit.ListBasketAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListCartAction</display-name>
		<servlet-name>ListCartAction</servlet-name>
		<servlet-class>servletit.ListCartAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertCartAction</display-name>
		<servlet-name>InsertCartAction</servlet-name>
		<servlet-class>servletit.InsertCartAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TyhjennaOstoskori</display-name>
		<servlet-name>TyhjennaOstoskori</servlet-name>
		<servlet-class>servletit.TyhjennaOstoskori</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListBasketAction</servlet-name>
		<url-pattern>/ListBasketAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListCartAction</servlet-name>
		<url-pattern>/ListCartAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertCartAction</servlet-name>
		<url-pattern>/InsertCartAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TyhjennaOstoskori</servlet-name>
		<url-pattern>/TyhjennaOstoskori</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
